openapi: 3.0.3
info:
  title: E4H Field Planner API
  description: |
    API specification for the E4H Digital Platform Field Planner module.
    
    The Field Planner enables Project Managers to create and manage field plans for project execution,
    assign activities to Activity SPOCs, manage health facility assignments, and coordinate field operations
    through mobile applications.
    
    **Key Features:**
    - Bulk Field Plan Creation and Management
    - Activity Assignment within Field Plan Context
    - Health Facility to Activity Mapping
    - Mobile App Data Synchronization
    - Activity Report Management with Workflow
    - Conditional Facility Activation
    - Integration with existing E4H platform services
    
    **Integration Points:**
    - eGov HRMS for user management
    - Health Facility Registry for facility data
    - Project Service for project information
    - eGov Workflow v2 for state management
    - eGov Filestore for file operations
    - eGov MDMS v2 for master data and activity definitions
    
    **Master Data Dependencies:**
    - Activity types (MDMS)
    - Status codes (MDMS) 
    - Priority levels (MDMS)
    - Workflow states (MDMS)
    - User roles (MDMS)
  version: 1.0.0
  contact:
    name: E4H Field Planner Team
    email: support@e4h-platform.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.e4h-platform.org/field-planner/v1
    description: Production server
  - url: https://staging-api.e4h-platform.org/field-planner/v1
    description: Staging server
  - url: https://dev-api.e4h-platform.org/field-planner/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # ========================
  # FIELD PLAN MANAGEMENT
  # ========================
  
  /v1/field-plans/_create:
    post:
      tags:
        - Field Plans
      summary: Create field plans (bulk operation)
      description: Creates one or more field plans within projects with specified activities and facilities
      operationId: createFieldPlans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFieldPlansRequest'
      responses:
        '201':
          description: Field plans created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPlansResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/_search:
    post:
      tags:
        - Field Plans
      summary: Search field plans
      description: Search field plans with various filters and pagination
      operationId: searchFieldPlans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldPlanSearchRequest'
      responses:
        '200':
          description: Field plans retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPlanSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/{id}:
    get:
      tags:
        - Field Plans
      summary: Get field plan by ID
      description: Retrieve a specific field plan by its ID
      operationId: getFieldPlan
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Field plan ID
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Tenant ID
      responses:
        '200':
          description: Field plan retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPlanResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/_update:
    post:
      tags:
        - Field Plans
      summary: Update field plans (bulk operation)
      description: Update one or more existing field plans (limited fields based on current status)
      operationId: updateFieldPlans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFieldPlansRequest'
      responses:
        '200':
          description: Field plans updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPlansResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/_workflow:
    post:
      tags:
        - Field Plans
      summary: Update field plan workflow status
      description: Update workflow status for one or more field plans
      operationId: updateFieldPlanWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldPlanWorkflowRequest'
      responses:
        '200':
          description: Field plan workflow updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPlansResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/facilities/_assign:
    post:
      tags:
        - Field Plans
      summary: Assign facilities to field plans (bulk operation)
      description: Assign multiple health facilities to multiple field plans in bulk
      operationId: bulkAssignFacilitiesToFieldPlans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkFacilityAssignmentRequest'
      responses:
        '200':
          description: Facilities assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkFacilityAssignmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/{fieldPlanId}/facilities/template:
    get:
      tags:
        - Field Plans
      summary: Download facility assignment template
      description: Generate and download Excel template for bulk facility assignment to a specific field plan
      operationId: getFacilityTemplate
      parameters:
        - name: fieldPlanId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Field plan ID
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Tenant ID
        - name: templateType
          in: query
          schema:
            type: string
            enum: [FACILITY_SELECTION, FACILITY_ASSIGNMENT]
            default: FACILITY_SELECTION
          description: Type of template to generate (master data code)
        - name: format
          in: query
          schema:
            type: string
            enum: [xlsx, csv]
            default: xlsx
          description: Template format
      responses:
        '200':
          description: Template generated successfully
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ========================
  # FIELD PLAN ACTIVITY MANAGEMENT (Activities within Field Plan Context)
  # ========================

  /v1/field-plans/{fieldPlanId}/activities/{activityId}/_assign:
    post:
      tags:
        - Field Plan Activities
      summary: Assign SPOC to activity within field plan context
      description: Assign Activity SPOC to a specific activity within a field plan context
      operationId: assignActivitySpocInFieldPlan
      parameters:
        - name: fieldPlanId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Field plan ID
        - name: activityId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Activity ID (from MDMS master data)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignActivitySpocRequest'
      responses:
        '200':
          description: Activity SPOC assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySpocAssignmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/{fieldPlanId}/activities/_search:
    post:
      tags:
        - Field Plan Activities
      summary: Search activities within field plan context
      description: Search activities assigned within a specific field plan
      operationId: searchFieldPlanActivities
      parameters:
        - name: fieldPlanId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Field plan ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldPlanActivitySearchRequest'
      responses:
        '200':
          description: Field plan activities retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPlanActivitySearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ========================
  # FACILITY ACTIVITY MAPPING (Within Field Plan Context)
  # ========================

  /v1/field-plans/{fieldPlanId}/facility-activities/_assign:
    post:
      tags:
        - Facility Activities
      summary: Assign facilities to activities within field plan (bulk operation)
      description: Map multiple facilities to multiple activities within a field plan context
      operationId: assignFacilitiesToActivitiesInFieldPlan
      parameters:
        - name: fieldPlanId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Field plan ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityActivityAssignmentRequest'
      responses:
        '200':
          description: Facility activities assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityActivityAssignmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/{fieldPlanId}/facility-activities/_update:
    post:
      tags:
        - Facility Activities
      summary: Update facility activities (bulk operation)
      description: Update facility activity mappings including activation status, user assignments, etc.
      operationId: updateFacilityActivitiesInFieldPlan
      parameters:
        - name: fieldPlanId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Field plan ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFacilityActivitiesRequest'
      responses:
        '200':
          description: Facility activities updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityActivitiesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/field-plans/{fieldPlanId}/facility-activities/_search:
    post:
      tags:
        - Facility Activities
      summary: Search facility activities within field plan
      description: Search facility activity mappings within a specific field plan
      operationId: searchFacilityActivitiesInFieldPlan
      parameters:
        - name: fieldPlanId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Field plan ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityActivitySearchRequest'
      responses:
        '200':
          description: Facility activities retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityActivitySearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/facility-activities/{facilityActivityId}/activation-check:
    get:
      tags:
        - Facility Activities
      summary: Check facility activity activation status
      description: Check if a facility activity can be activated based on predefined conditions
      operationId: checkFacilityActivityActivation
      parameters:
        - name: facilityActivityId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Facility activity mapping ID
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
          description: Tenant ID
      responses:
        '200':
          description: Activation status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCheckResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ========================
  # ACTIVITY REPORTS
  # ========================

  /v1/activity-reports/_create:
    post:
      tags:
        - Activity Reports
      summary: Create activity reports (bulk operation)
      description: Create one or more activity reports for facility activities
      operationId: createActivityReports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActivityReportsRequest'
      responses:
        '201':
          description: Activity reports created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityReportsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/activity-reports/_search:
    post:
      tags:
        - Activity Reports
      summary: Search activity reports
      description: Search activity reports with various filters including facility ID
      operationId: searchActivityReports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityReportSearchRequest'
      responses:
        '200':
          description: Activity reports retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityReportSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/activity-reports/_update:
    post:
      tags:
        - Activity Reports
      summary: Update activity reports (bulk operation)
      description: Update one or more existing activity reports
      operationId: updateActivityReports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivityReportsRequest'
      responses:
        '200':
          description: Activity reports updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityReportsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/activity-reports/_workflow:
    post:
      tags:
        - Activity Reports
      summary: Update activity report workflow status
      description: Update workflow status for activity reports (submit, approve, reject, flag for QC)
      operationId: updateActivityReportWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityReportWorkflowRequest'
      responses:
        '200':
          description: Activity report workflow updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityReportsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ========================
  # MOBILE SYNC (Leveraging existing platform APIs)
  # ========================

  /v1/mobile/sync/assignments:
    post:
      tags:
        - Mobile Sync
      summary: Sync user assignments for mobile app
      description: Get user-specific facility activity assignments for mobile app synchronization (leverages Health Facility Registry bulk APIs)
      operationId: syncUserAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileAssignmentSyncRequest'
      responses:
        '200':
          description: User assignments synchronized successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAssignmentSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/mobile/reports/_upload:
    post:
      tags:
        - Mobile Sync
      summary: Upload activity reports from mobile app
      description: Upload activity reports and media files collected offline from mobile app
      operationId: uploadMobileReports
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                reports:
                  type: string
                  description: JSON array of activity reports collected offline
                  minLength: 1
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 0
                  description: Media files (images, videos, documents) associated with reports
                tenantId:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: Tenant ID
                userId:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: User ID
              required:
                - reports
                - tenantId
                - userId
      responses:
        '200':
          description: Mobile reports uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileReportUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ========================
  # TEAM MANAGEMENT (Using existing HRMS APIs)
  # ========================

  /v1/teams/assignments/_search:
    post:
      tags:
        - Team Management
      summary: Search team assignments across field plans
      description: Search team member assignments across field plans (leverages HRMS APIs for user data)
      operationId: searchTeamAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamAssignmentSearchRequest'
      responses:
        '200':
          description: Team assignments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamAssignmentSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict - resource already exists or invalid state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # ========================
    # COMMON SCHEMAS (Referencing eGov platform contracts)
    # ========================
    
    RequestInfo:
      type: object
      description: Request information (from eGov common contracts) 
      externalDocs:
        url: https://github.com/egovernments/health-campaign-services/blob/develop/docs/health-api-specs/contracts/common.yaml#RequestInfo
      properties:
        apiId:
          type: string
          minLength: 1
          maxLength: 128
          description: API identifier
        ver:
          type: string
          minLength: 1
          maxLength: 32
          description: API version
        ts:
          type: integer
          format: int64
          description: Request timestamp
        action:
          type: string
          minLength: 1
          maxLength: 64
          description: Action being performed
        did:
          type: string
          maxLength: 64
          description: Device ID
        key:
          type: string
          maxLength: 256
          description: API key
        msgId:
          type: string
          minLength: 1
          maxLength: 256
          description: Message ID
        authToken:
          type: string
          maxLength: 2048
          description: Authentication token
        userInfo:
          $ref: '#/components/schemas/UserInfo'
      required:
        - apiId
        - ver
        - ts
        - action

    ResponseInfo:
      type: object
      description: Response information (from eGov common contracts)
      externalDocs:
        url: https://github.com/egovernments/health-campaign-services/blob/develop/docs/health-api-specs/contracts/common.yaml#ResponseInfo
      properties:
        apiId:
          type: string
          minLength: 1
          maxLength: 128
          description: API identifier
        ver:
          type: string
          minLength: 1
          maxLength: 32
          description: API version
        ts:
          type: integer
          format: int64
          description: Response timestamp
        resMsgId:
          type: string
          maxLength: 256
          description: Response message ID
        msgId:
          type: string
          maxLength: 256
          description: Request message ID
        status:
          type: string
          enum: [SUCCESSFUL, FAILED]
          description: Response status
        error:
          $ref: '#/components/schemas/Error'
      required:
        - apiId
        - ver
        - ts
        - status

    UserInfo:
      type: object
      description: User information (from eGov common contracts)
      externalDocs:
        url: https://github.com/egovernments/health-campaign-services/blob/develop/docs/health-api-specs/contracts/common.yaml#UserInfo
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
          description: User ID
        userName:
          type: string
          minLength: 1
          maxLength: 128
          description: Username
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: Full name
        type:
          type: string
          minLength: 1
          maxLength: 64
          description: User type (master data code)
        mobileNumber:
          type: string
          pattern: '^[0-9]{10,15}$'
          description: Mobile number
        emailId:
          type: string
          format: email
          maxLength: 256
          description: Email ID
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
          minItems: 1
          description: User roles
        tenantId:
          type: string
          minLength: 1
          maxLength: 64
          description: Tenant ID

    Role:
      type: object
      description: User role (from eGov common contracts)
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
          description: Role ID
        name:
          type: string
          minLength: 1
          maxLength: 128
          description: Role name
        code:
          type: string
          minLength: 1
          maxLength: 64
          description: Role code (master data code)
        tenantId:
          type: string
          minLength: 1
          maxLength: 64
          description: Tenant ID

    Error:
      type: object
      description: Error details (from eGov common contracts)
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 64
          description: Error code
        message:
          type: string
          minLength: 1
          maxLength: 512
          description: Error message
        description:
          type: string
          maxLength: 1024
          description: Error description
        params:
          type: array
          items:
            type: object
          description: Error parameters

    ErrorResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
      required:
        - ResponseInfo

    Pagination:
      type: object
      description: Pagination parameters (from eGov common contracts)
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          description: Number of records per page
        offset:
          type: integer
          minimum: 0
          default: 0
          description: Number of records to skip
        totalCount:
          type: integer
          description: Total number of records
        sortBy:
          type: string
          minLength: 1
          maxLength: 64
          description: Field to sort by
        sortOrder:
          type: string
          enum: [ASC, DESC]
          default: ASC
          description: Sort order

    AuditDetails:
      type: object
      description: Audit details (from eGov common contracts)
      externalDocs:
        url: https://github.com/egovernments/health-campaign-services/blob/develop/docs/health-api-specs/contracts/common.yaml#AuditDetails
      properties:
        createdBy:
          type: string
          minLength: 1
          maxLength: 64
          description: Created by user ID
        lastModifiedBy:
          type: string
          minLength: 1
          maxLength: 64
          description: Last modified by user ID
        createdTime:
          type: integer
          format: int64
          description: Creation timestamp
        lastModifiedTime:
          type: integer
          format: int64
          description: Last modification timestamp
      required:
        - createdBy
        - createdTime

    # ========================
    # FIELD PLAN SCHEMAS
    # ========================

    FieldPlan:
      type: object
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
          description: Field plan ID
        tenantId:
          type: string
          minLength: 1
          maxLength: 64
          description: Tenant ID
        name:
          type: string
          minLength: 1
          maxLength: 256
          description: Field plan name
        projectId:
          type: string
          minLength: 1
          maxLength: 64
          description: Associated project ID
        startDate:
          type: integer
          format: int64
          description: Field plan start date
        endDate:
          type: integer
          format: int64
          description: Field plan end date
        status:
          type: string
          minLength: 1
          maxLength: 64
          description: Field plan status (master data code from MDMS)
        geographyScope:
          type: object
          description: Geographic scope definition
          properties:
            hierarchyType:
              type: string
              minLength: 1
              maxLength: 64
              description: Hierarchy type (master data code)
            boundarySelections:
              type: array
              items:
                type: object
                properties:
                  boundaryType:
                    type: string
                    minLength: 1
                    maxLength: 64
                    description: Boundary type (master data code)
                  boundaryIds:
                    type: array
                    items:
                      type: string
                      minLength: 1
                      maxLength: 64
                    minItems: 1
                    description: Selected boundary IDs
              minItems: 1
        selectedActivities:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
          minItems: 1
          description: List of selected activity codes (master data from MDMS)
        description:
          type: string
          maxLength: 1024
          description: Field plan description
        additionalDetails:
          type: object
          description: Additional field plan details
        auditDetails:
          $ref: '#/components/schemas/AuditDetails'
      required:
        - id
        - tenantId
        - name
        - projectId
        - startDate
        - endDate
        - status
        - selectedActivities

    CreateFieldPlansRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FieldPlans:
          type: array
          items:
            type: object
            properties:
              tenantId:
                type: string
                minLength: 1
                maxLength: 64
                description: Tenant ID
              name:
                type: string
                minLength: 1
                maxLength: 256
                description: Field plan name
              projectId:
                type: string
                minLength: 1
                maxLength: 64
                description: Associated project ID
              startDate:
                type: integer
                format: int64
                description: Field plan start date
              endDate:
                type: integer
                format: int64
                description: Field plan end date
              geographyScope:
                type: object
                description: Geographic scope definition
              selectedActivities:
                type: array
                items:
                  type: string
                  minLength: 1
                  maxLength: 64
                minItems: 1
                description: List of selected activity codes (master data)
              description:
                type: string
                maxLength: 1024
                description: Field plan description
              additionalDetails:
                type: object
                description: Additional field plan details
            required:
              - tenantId
              - name
              - projectId
              - startDate
              - endDate
              - selectedActivities
          minItems: 1
          description: Array of field plans to create
      required:
        - RequestInfo
        - FieldPlans

    UpdateFieldPlansRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FieldPlans:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 64
                description: Field plan ID
              tenantId:
                type: string
                minLength: 1
                maxLength: 64
                description: Tenant ID
              name:
                type: string
                minLength: 1
                maxLength: 256
                description: Field plan name
              endDate:
                type: integer
                format: int64
                description: Field plan end date
              description:
                type: string
                maxLength: 1024
                description: Field plan description
              additionalDetails:
                type: object
                description: Additional field plan details
            required:
              - id
              - tenantId
          minItems: 1
          description: Array of field plans to update
      required:
        - RequestInfo
        - FieldPlans

    FieldPlanSearchRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FieldPlanSearchCriteria:
          type: object
          properties:
            tenantId:
              type: string
              minLength: 1
              maxLength: 64
              description: Tenant ID
            ids:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Field plan IDs
            projectIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Project IDs
            status:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Field plan statuses (master data codes)
            createdBy:
              type: string
              minLength: 1
              maxLength: 64
              description: Created by user ID
            activityTypes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Activity types (master data codes)
            fromDate:
              type: integer
              format: int64
              description: Filter from date
            toDate:
              type: integer
              format: int64
              description: Filter to date
          required:
            - tenantId
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - RequestInfo
        - FieldPlanSearchCriteria

    FieldPlanResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        FieldPlan:
          $ref: '#/components/schemas/FieldPlan'
      required:
        - ResponseInfo
        - FieldPlan

    FieldPlansResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        FieldPlans:
          type: array
          items:
            $ref: '#/components/schemas/FieldPlan'
          minItems: 0
      required:
        - ResponseInfo
        - FieldPlans

    FieldPlanSearchResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        FieldPlans:
          type: array
          items:
            $ref: '#/components/schemas/FieldPlan'
          minItems: 0
        TotalCount:
          type: integer
          description: Total number of field plans
      required:
        - ResponseInfo
        - FieldPlans

    FieldPlanWorkflowRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        WorkflowActions:
          type: array
          items:
            type: object
            properties:
              fieldPlanId:
                type: string
                minLength: 1
                maxLength: 64
                description: Field plan ID
              tenantId:
                type: string
                minLength: 1
                maxLength: 64
                description: Tenant ID
              action:
                type: string
                minLength: 1
                maxLength: 64
                description: Workflow action (master data code)
              comments:
                type: string
                maxLength: 1024
                description: Workflow comments
              additionalDetails:
                type: object
                description: Additional workflow details
            required:
              - fieldPlanId
              - tenantId
              - action
          minItems: 1
          description: Array of workflow actions to perform
      required:
        - RequestInfo
        - WorkflowActions

    # ========================
    # FACILITY ASSIGNMENT SCHEMAS
    # ========================

    BulkFacilityAssignmentRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FacilityAssignments:
          type: array
          items:
            type: object
            properties:
              fieldPlanId:
                type: string
                minLength: 1
                maxLength: 64
                description: Field plan ID
              facilityId:
                type: string
                minLength: 1
                maxLength: 64
                description: Health facility ID
              priorityCode:
                type: string
                minLength: 1
                maxLength: 64
                description: Assignment priority (master data code)
              notes:
                type: string
                maxLength: 512
                description: Assignment notes
              additionalDetails:
                type: object
                description: Additional assignment details
            required:
              - fieldPlanId
              - facilityId
              - priorityCode
          minItems: 1
          description: Array of facility assignments
        tenantId:
          type: string
          minLength: 1
          maxLength: 64
          description: Tenant ID
      required:
        - RequestInfo
        - FacilityAssignments
        - tenantId

    BulkFacilityAssignmentResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        AssignmentResults:
          type: array
          items:
            type: object
            properties:
              fieldPlanId:
                type: string
                description: Field plan ID
              facilityId:
                type: string
                description: Health facility ID
              status:
                type: string
                enum: [SUCCESS, FAILED, SKIPPED]
                description: Assignment status
              message:
                type: string
                maxLength: 512
                description: Status message
              fieldPlanFacilityId:
                type: string
                description: Generated field plan facility mapping ID
          minItems: 0
        ProcessingSummary:
          type: object
          properties:
            totalRecords:
              type: integer
              description: Total records processed
            successfulAssignments:
              type: integer
              description: Successful assignments
            failedAssignments:
              type: integer
              description: Failed assignments
            skippedAssignments:
              type: integer
              description: Skipped assignments
      required:
        - ResponseInfo
        - AssignmentResults
        - ProcessingSummary

    # ========================
    # FIELD PLAN ACTIVITY SCHEMAS (Activities within Field Plan Context)
    # ========================

    AssignActivitySpocRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        ActivitySpocAssignment:
          type: object
          properties:
            tenantId:
              type: string
              minLength: 1
              maxLength: 64
              description: Tenant ID
            assignedSpocId:
              type: string
              minLength: 1
              maxLength: 64
              description: SPOC user ID
            reviewerId:
              type: string
              minLength: 1
              maxLength: 64
              description: Reviewer user ID (optional)
            assignmentNotes:
              type: string
              maxLength: 512
              description: Assignment notes
            dueDate:
              type: integer
              format: int64
              description: Assignment due date
            additionalDetails:
              type: object
              description: Additional assignment details
          required:
            - tenantId
            - assignedSpocId
      required:
        - RequestInfo
        - ActivitySpocAssignment

    ActivitySpocAssignmentResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        FieldPlanActivity:
          type: object
          properties:
            id:
              type: string
              description: Field plan activity ID
            fieldPlanId:
              type: string
              description: Field plan ID
            activityId:
              type: string
              description: Activity ID (master data)
            assignedSpocId:
              type: string
              description: Assigned SPOC user ID
            reviewerId:
              type: string
              description: Assigned reviewer user ID
            status:
              type: string
              description: Assignment status (master data code)
            auditDetails:
              $ref: '#/components/schemas/AuditDetails'
        NotificationStatus:
          type: object
          properties:
            emailSent:
              type: boolean
              description: Email notification sent
            smsSent:
              type: boolean
              description: SMS notification sent
            inAppNotificationSent:
              type: boolean
              description: In-app notification sent
      required:
        - ResponseInfo
        - FieldPlanActivity

    FieldPlanActivitySearchRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FieldPlanActivitySearchCriteria:
          type: object
          properties:
            tenantId:
              type: string
              minLength: 1
              maxLength: 64
              description: Tenant ID
            activityIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Activity IDs (master data)
            statuses:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Assignment statuses (master data codes)
            assignedSpocId:
              type: string
              minLength: 1
              maxLength: 64
              description: Assigned SPOC user ID
          required:
            - tenantId
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - RequestInfo
        - FieldPlanActivitySearchCriteria

    FieldPlanActivitySearchResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        FieldPlanActivities:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Field plan activity ID
              fieldPlanId:
                type: string
                description: Field plan ID
              activityId:
                type: string
                description: Activity ID (master data)
              assignedSpocId:
                type: string
                description: Assigned SPOC user ID
              reviewerId:
                type: string
                description: Assigned reviewer user ID
              status:
                type: string
                description: Assignment status (master data code)
              auditDetails:
                $ref: '#/components/schemas/AuditDetails'
          minItems: 0
        TotalCount:
          type: integer
          description: Total number of field plan activities
      required:
        - ResponseInfo
        - FieldPlanActivities

    # ========================
    # FACILITY ACTIVITY MAPPING SCHEMAS
    # ========================

    FacilityActivityAssignmentRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FacilityActivityMappings:
          type: array
          items:
            type: object
            properties:
              facilityId:
                type: string
                minLength: 1
                maxLength: 64
                description: Health facility ID
              activityIds:
                type: array
                items:
                  type: string
                  minLength: 1
                  maxLength: 64
                minItems: 1
                description: Activity IDs (master data) to assign to this facility
              priorityCode:
                type: string
                minLength: 1
                maxLength: 64
                description: Assignment priority (master data code)
              targetCompletionDate:
                type: integer
                format: int64
                description: Target completion date
              additionalDetails:
                type: object
                description: Additional mapping details
            required:
              - facilityId
              - activityIds
              - priorityCode
          minItems: 1
          description: Array of facility-activity mappings
        tenantId:
          type: string
          minLength: 1
          maxLength: 64
          description: Tenant ID
      required:
        - RequestInfo
        - FacilityActivityMappings
        - tenantId

    FacilityActivityAssignmentResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        AssignmentResults:
          type: array
          items:
            type: object
            properties:
              facilityId:
                type: string
                description: Facility ID
              activityId:
                type: string
                description: Activity ID
              status:
                type: string
                enum: [SUCCESS, FAILED, SKIPPED]
                description: Assignment status
              message:
                type: string
                maxLength: 512
                description: Status message
              facilityActivityId:
                type: string
                description: Generated facility activity mapping ID
          minItems: 0
        ProcessingSummary:
          type: object
          properties:
            totalMappings:
              type: integer
              description: Total mappings processed
            successfulMappings:
              type: integer
              description: Successful mappings
            failedMappings:
              type: integer
              description: Failed mappings
      required:
        - ResponseInfo
        - AssignmentResults
        - ProcessingSummary

    UpdateFacilityActivitiesRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FacilityActivityUpdates:
          type: array
          items:
            type: object
            properties:
              facilityActivityId:
                type: string
                minLength: 1
                maxLength: 64
                description: Facility activity mapping ID
              tenantId:
                type: string
                minLength: 1
                maxLength: 64
                description: Tenant ID
              assignedUserId:
                type: string
                minLength: 1
                maxLength: 64
                description: Assigned field user ID
              isActive:
                type: boolean
                description: Activation status
              targetCompletionDate:
                type: integer
                format: int64
                description: Updated target completion date
              priorityCode:
                type: string
                minLength: 1
                maxLength: 64
                description: Updated priority (master data code)
              additionalDetails:
                type: object
                description: Additional update details
            required:
              - facilityActivityId
              - tenantId
          minItems: 1
          description: Array of facility activity updates
      required:
        - RequestInfo
        - FacilityActivityUpdates

    FacilityActivity:
      type: object
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
          description: Facility activity mapping ID
        tenantId:
          type: string
          minLength: 1
          maxLength: 64
          description: Tenant ID
        fieldPlanId:
          type: string
          minLength: 1
          maxLength: 64
          description: Field plan ID
        facilityId:
          type: string
          minLength: 1
          maxLength: 64
          description: Health facility ID
        activityId:
          type: string
          minLength: 1
          maxLength: 64
          description: Activity ID (master data)
        status:
          type: string
          minLength: 1
          maxLength: 64
          description: Facility activity status (master data code)
        assignedUserId:
          type: string
          minLength: 1
          maxLength: 64
          description: Assigned field user ID
        priorityCode:
          type: string
          minLength: 1
          maxLength: 64
          description: Priority (master data code)
        isActive:
          type: boolean
          description: Activation status
        targetCompletionDate:
          type: integer
          format: int64
          description: Target completion date
        actualCompletionDate:
          type: integer
          format: int64
          description: Actual completion date
        activationConditions:
          type: array
          items:
            type: object
            properties:
              conditionType:
                type: string
                minLength: 1
                maxLength: 64
                description: Condition type (master data code)
              conditionDescription:
                type: string
                minLength: 1
                maxLength: 512
                description: Condition description
              isMet:
                type: boolean
                description: Whether condition is met
              checkDate:
                type: integer
                format: int64
                description: Last check date
          minItems: 0
          description: Activation conditions
        additionalDetails:
          type: object
          description: Additional details
        auditDetails:
          $ref: '#/components/schemas/AuditDetails'
      required:
        - id
        - tenantId
        - fieldPlanId
        - facilityId
        - activityId
        - status

    FacilityActivitySearchRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        FacilityActivitySearchCriteria:
          type: object
          properties:
            tenantId:
              type: string
              minLength: 1
              maxLength: 64
              description: Tenant ID
            ids:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Facility activity IDs
            facilityIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Facility IDs
            activityIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Activity IDs (master data)
            statuses:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Statuses (master data codes)
            assignedUserId:
              type: string
              minLength: 1
              maxLength: 64
              description: Assigned user ID
            isActive:
              type: boolean
              description: Filter by activation status
            assignedToMe:
              type: boolean
              description: Filter for current user assignments
          required:
            - tenantId
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - RequestInfo
        - FacilityActivitySearchCriteria

    FacilityActivitiesResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        FacilityActivities:
          type: array
          items:
            $ref: '#/components/schemas/FacilityActivity'
          minItems: 0
      required:
        - ResponseInfo
        - FacilityActivities

    FacilityActivitySearchResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        FacilityActivities:
          type: array
          items:
            $ref: '#/components/schemas/FacilityActivity'
          minItems: 0
        TotalCount:
          type: integer
          description: Total number of facility activities
      required:
        - ResponseInfo
        - FacilityActivities

    ActivationCheckResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        ActivationStatus:
          type: object
          properties:
            facilityActivityId:
              type: string
              description: Facility activity ID
            canActivate:
              type: boolean
              description: Whether facility activity can be activated
            conditionResults:
              type: array
              items:
                type: object
                properties:
                  conditionType:
                    type: string
                    description: Condition type (master data code)
                  conditionDescription:
                    type: string
                    description: Condition description
                  isMet:
                    type: boolean
                    description: Whether condition is met
                  details:
                    type: string
                    maxLength: 512
                    description: Additional details about condition
              minItems: 0
              description: Individual condition results
            nextSteps:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 256
              minItems: 0
              description: Required next steps for activation
            estimatedActivationDate:
              type: integer
              format: int64
              description: Estimated activation date
      required:
        - ResponseInfo
        - ActivationStatus

    # ========================
    # ACTIVITY REPORT SCHEMAS
    # ========================

    ActivityReport:
      type: object
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
          description: Activity report ID
        tenantId:
          type: string
          minLength: 1
          maxLength: 64
          description: Tenant ID
        facilityActivityId:
          type: string
          minLength: 1
          maxLength: 64
          description: Associated facility activity ID
        facilityId:
          type: string
          minLength: 1
          maxLength: 64
          description: Health facility ID (for search optimization)
        reportTypeCode:
          type: string
          minLength: 1
          maxLength: 64
          description: Report type (master data code)
        statusCode:
          type: string
          minLength: 1
          maxLength: 64
          description: Report status (master data code)
        submittedBy:
          type: string
          minLength: 1
          maxLength: 64
          description: Submitted by user ID
        submittedDate:
          type: integer
          format: int64
          description: Submission date
        reviewedBy:
          type: string
          minLength: 1
          maxLength: 64
          description: Reviewed by user ID
        reviewedDate:
          type: integer
          format: int64
          description: Review date
        reviewComments:
          type: string
          maxLength: 1024
          description: Review comments
        reportData:
          type: object
          description: Report data (structured based on report type)
        attachments:
          type: array
          items:
            type: object
            properties:
              fileStoreId:
                type: string
                minLength: 1
                maxLength: 64
                description: File store ID
              fileName:
                type: string
                minLength: 1
                maxLength: 256
                description: File name
              fileType:
                type: string
                minLength: 1
                maxLength: 64
                description: File type (master data code)
              fileSize:
                type: integer
                minimum: 0
                description: File size in bytes
              uploadedBy:
                type: string
                minLength: 1
                maxLength: 64
                description: Uploaded by user ID
              uploadedDate:
                type: integer
                format: int64
                description: Upload date
          minItems: 0
          description: Report attachments
        geoLocation:
          type: object
          properties:
            latitude:
              type: number
              format: double
              minimum: -90
              maximum: 90
              description: Latitude
            longitude:
              type: number
              format: double
              minimum: -180
              maximum: 180
              description: Longitude
            accuracy:
              type: number
              format: double
              minimum: 0
              description: GPS accuracy in meters
          description: Geo-location data
        additionalDetails:
          type: object
          description: Additional report details
        auditDetails:
          $ref: '#/components/schemas/AuditDetails'
      required:
        - id
        - tenantId
        - facilityActivityId
        - facilityId
        - reportTypeCode
        - statusCode

    CreateActivityReportsRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        ActivityReports:
          type: array
          items:
            type: object
            properties:
              tenantId:
                type: string
                minLength: 1
                maxLength: 64
                description: Tenant ID
              facilityActivityId:
                type: string
                minLength: 1
                maxLength: 64
                description: Associated facility activity ID
              facilityId:
                type: string
                minLength: 1
                maxLength: 64
                description: Health facility ID
              reportTypeCode:
                type: string
                minLength: 1
                maxLength: 64
                description: Report type (master data code)
              reportData:
                type: object
                description: Report data
              attachments:
                type: array
                items:
                  type: object
                  properties:
                    fileStoreId:
                      type: string
                      minLength: 1
                      maxLength: 64
                    fileName:
                      type: string
                      minLength: 1
                      maxLength: 256
                    fileType:
                      type: string
                      minLength: 1
                      maxLength: 64
                minItems: 0
                description: Report attachments
              geoLocation:
                type: object
                properties:
                  latitude:
                    type: number
                    format: double
                    minimum: -90
                    maximum: 90
                  longitude:
                    type: number
                    format: double
                    minimum: -180
                    maximum: 180
                  accuracy:
                    type: number
                    format: double
                    minimum: 0
                description: Geo-location data
              additionalDetails:
                type: object
                description: Additional details
            required:
              - tenantId
              - facilityActivityId
              - facilityId
              - reportTypeCode
              - reportData
          minItems: 1
          description: Array of activity reports to create
      required:
        - RequestInfo
        - ActivityReports

    UpdateActivityReportsRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        ActivityReports:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 64
                description: Activity report ID
              tenantId:
                type: string
                minLength: 1
                maxLength: 64
                description: Tenant ID
              reportData:
                type: object
                description: Updated report data
              attachments:
                type: array
                items:
                  type: object
                  properties:
                    fileStoreId:
                      type: string
                      minLength: 1
                      maxLength: 64
                    fileName:
                      type: string
                      minLength: 1
                      maxLength: 256
                    fileType:
                      type: string
                      minLength: 1
                      maxLength: 64
                minItems: 0
                description: Updated attachments
              additionalDetails:
                type: object
                description: Additional details
            required:
              - id
              - tenantId
          minItems: 1
          description: Array of activity reports to update
      required:
        - RequestInfo
        - ActivityReports

    ActivityReportSearchRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        ActivityReportSearchCriteria:
          type: object
          properties:
            tenantId:
              type: string
              minLength: 1
              maxLength: 64
              description: Tenant ID
            ids:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Activity report IDs
            facilityActivityIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Facility activity IDs
            facilityIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Health facility IDs
            reportTypeCodes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Report types (master data codes)
            statusCodes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Report statuses (master data codes)
            submittedBy:
              type: string
              minLength: 1
              maxLength: 64
              description: Submitted by user ID
            reviewedBy:
              type: string
              minLength: 1
              maxLength: 64
              description: Reviewed by user ID
            fromDate:
              type: integer
              format: int64
              description: Filter from date
            toDate:
              type: integer
              format: int64
              description: Filter to date
            assignedToMe:
              type: boolean
              description: Filter for reports assigned to current user
          required:
            - tenantId
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - RequestInfo
        - ActivityReportSearchCriteria

    ActivityReportsResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        ActivityReports:
          type: array
          items:
            $ref: '#/components/schemas/ActivityReport'
          minItems: 0
      required:
        - ResponseInfo
        - ActivityReports

    ActivityReportSearchResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        ActivityReports:
          type: array
          items:
            $ref: '#/components/schemas/ActivityReport'
          minItems: 0
        TotalCount:
          type: integer
          description: Total number of activity reports
      required:
        - ResponseInfo
        - ActivityReports

    ActivityReportWorkflowRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        WorkflowActions:
          type: array
          items:
            type: object
            properties:
              activityReportId:
                type: string
                minLength: 1
                maxLength: 64
                description: Activity report ID
              tenantId:
                type: string
                minLength: 1
                maxLength: 64
                description: Tenant ID
              action:
                type: string
                minLength: 1
                maxLength: 64
                description: Workflow action (master data code - SUBMIT, APPROVE, REJECT, FLAG_FOR_QC)
              comments:
                type: string
                maxLength: 1024
                description: Workflow comments
              additionalDetails:
                type: object
                description: Additional workflow details
            required:
              - activityReportId
              - tenantId
              - action
          minItems: 1
          description: Array of workflow actions to perform
      required:
        - RequestInfo
        - WorkflowActions

    # ========================
    # MOBILE SYNC SCHEMAS
    # ========================

    MobileAssignmentSyncRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        SyncRequest:
          type: object
          properties:
            tenantId:
              type: string
              minLength: 1
              maxLength: 64
              description: Tenant ID
            userId:
              type: string
              minLength: 1
              maxLength: 64
              description: User ID
            lastSyncTime:
              type: integer
              format: int64
              description: Last sync timestamp (0 for full sync)
            deviceInfo:
              type: object
              properties:
                deviceId:
                  type: string
                  minLength: 1
                  maxLength: 128
                  description: Device ID
                platform:
                  type: string
                  enum: [ANDROID, IOS]
                  description: Device platform
                appVersion:
                  type: string
                  minLength: 1
                  maxLength: 32
                  description: App version
              description: Device information
          required:
            - tenantId
            - userId
      required:
        - RequestInfo
        - SyncRequest

    MobileAssignmentSyncResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        SyncData:
          type: object
          properties:
            userProfile:
              type: object
              description: User profile data (from HRMS)
            facilityAssignments:
              type: array
              items:
                $ref: '#/components/schemas/FacilityActivity'
              minItems: 0
              description: User's facility activity assignments
            facilityDetails:
              type: array
              items:
                type: object
              minItems: 0
              description: Health facility details (from HFR bulk API)
            masterData:
              type: object
              description: Relevant master data for offline use (from MDMS)
            formTemplates:
              type: object
              description: Activity-specific form templates
            syncTimestamp:
              type: integer
              format: int64
              description: Current sync timestamp
      required:
        - ResponseInfo
        - SyncData

    MobileReportUploadResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        UploadResults:
          type: object
          properties:
            totalReports:
              type: integer
              description: Total reports in upload batch
            successfulReports:
              type: integer
              description: Successfully processed reports
            failedReports:
              type: integer
              description: Failed report uploads
            totalFiles:
              type: integer
              description: Total files uploaded
            successfulFiles:
              type: integer
              description: Successfully uploaded files
            failedFiles:
              type: integer
              description: Failed file uploads
            processingDetails:
              type: array
              items:
                type: object
                properties:
                  reportIndex:
                    type: integer
                    description: Report index in batch
                  status:
                    type: string
                    enum: [SUCCESS, FAILED]
                    description: Processing status
                  message:
                    type: string
                    maxLength: 512
                    description: Processing message
                  reportId:
                    type: string
                    description: Generated report ID (if successful)
              minItems: 0
              description: Detailed processing results
      required:
        - ResponseInfo
        - UploadResults

    # ========================
    # TEAM MANAGEMENT SCHEMAS
    # ========================

    TeamAssignmentSearchRequest:
      type: object
      properties:
        RequestInfo:
          $ref: '#/components/schemas/RequestInfo'
        TeamAssignmentSearchCriteria:
          type: object
          properties:
            tenantId:
              type: string
              minLength: 1
              maxLength: 64
              description: Tenant ID
            projectIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Project IDs
            fieldPlanIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: Field plan IDs
            userId:
              type: string
              minLength: 1
              maxLength: 64
              description: User ID (for specific user assignments)
            roleCodes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              description: User role codes (master data)
            includeCompleted:
              type: boolean
              default: false
              description: Include completed assignments
          required:
            - tenantId
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - RequestInfo
        - TeamAssignmentSearchCriteria

    TeamAssignmentSearchResponse:
      type: object
      properties:
        ResponseInfo:
          $ref: '#/components/schemas/ResponseInfo'
        TeamAssignments:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                description: User ID
              userName:
                type: string
                description: User name (from HRMS)
              fieldPlanId:
                type: string
                description: Field plan ID
              fieldPlanName:
                type: string
                description: Field plan name
              projectId:
                type: string
                description: Project ID
              projectName:
                type: string
                description: Project name
              roleCode:
                type: string
                description: Assignment role code (master data)
              assignmentDate:
                type: integer
                format: int64
                description: Assignment date
              statusCode:
                type: string
                description: Assignment status (master data code)
              facilityCount:
                type: integer
                description: Number of assigned facilities
              completedActivities:
                type: integer
                description: Number of completed activities
              totalActivities:
                type: integer
                description: Total number of activities
          minItems: 0
        AssignmentSummary:
          type: object
          properties:
            totalAssignments:
              type: integer
              description: Total assignments
            activeAssignments:
              type: integer
              description: Active assignments
            completedAssignments:
              type: integer
              description: Completed assignments
      required:
        - ResponseInfo
        - TeamAssignments

tags:
  - name: Field Plans
    description: Bulk field plan creation and management operations
  - name: Field Plan Activities
    description: Activity assignment within field plan context
  - name: Facility Activities
    description: Facility-activity mapping and management within field plans
  - name: Activity Reports
    description: Activity report creation, submission, and workflow management
  - name: Mobile Sync
    description: Mobile application data synchronization (leveraging platform APIs)
  - name: Team Management
    description: Team assignment tracking across field plans (leveraging HRMS) 