.health-facility-table {
  overflow-x: auto;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
  width: 100%;
  display: flex;
  align-items: flex-start;

  .table {
    width: 100%;
    min-width: fit-content;
    border-collapse: collapse;
    font-family: Roboto;
    font-size: 14px;
    background-color: white;

    thead {
      th {
        background-color: #EEEEEE;
        color: #000000;
        font-weight: 600;
        text-align: left;
        padding: 16px 18px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #D6D5D4;

        &:first-child {
          background-color: transparent;
          border: none;
          text-align: center;
          width: 60px;
          min-width: fit-content !important;
          position: relative;
        }
      }
    }

    tbody {
      td {
        padding: 16px 18px;
        border: 1px solid #D6D5D4;
        color: #363636;
        font-size: 14px;
        line-height: 1.4;

        &:first-child {
          background-color: transparent;
          border: none;
          text-align: center;
          width: 60px;
          min-width: fit-content;
          position: relative;
        }

        &:nth-child(2) {
          color: #C84C0E;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .table {
      min-width: 800px;
      white-space: nowrap;
    }

    .table th,
    .table td {
      min-width: 120px;

      &:first-child {
        min-width: 60px;
      }
    }
  }
}

.health-facility-table-wrapper {
  .pagination {
    border: none;
  }
}